.GamesCategories {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 15px;

    h2 {
       padding-bottom: 5px;
    }

    .GamesCategoriesWrapper {
        display: flex;
        justify-content: space-between;
        
        .GamesCategoriesBtn {
            text-transform: uppercase;
            font-weight: bold;
            background: none;
            border: none;
            margin: 0;
            padding: 10px 20px 10px 0;
            cursor: pointer;
            text-align: left;
    
            &:hover {
                color: #abc369;
            } 
    
            &:focus {
                outline: 0;
                color: #889C54;
            }

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
    
        }

    }

    
}

@media (min-width: 768px) { 
    .GamesCategories {
        width: 30%;
        padding-top: 0;

        h2 {
            font-size: 25px;
        }
        .GamesCategoriesWrapper { 
          flex-direction: column;
        }
    }
}