.ButtonPrimary {
    padding: 8px 50px;
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #8caa37;
    border: 1px solid transparent;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);

   
    &:focus,
    &:hover {
        background-color: #abc369;
        box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
    } 

    &:focus {
        outline: 0;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.ButtonSecondary {
    padding: 8px 20px;
    margin-top: 7px;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #282b33;
    border: 1px solid transparent;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);

   
    &:focus,
    &:hover {
        background-color: #abc369;
        box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
    } 

    &:focus {
        outline: 0;
    }
   
    svg {
        &[data-atr='btn-forward'] {
           margin-left: 10px
        }

        &[data-atr='btn-back'] {
            margin-right: 10px
         }
    }
    
}