.Games {
    
    .GamesProfile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0 20px 0;
        border-bottom: 1px solid #dbd8d8;
        margin-bottom: 20px;
    }

    .GamesDashboard {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;


        .GamesCards {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
            padding-top: 5px;

            h2 {
               padding-bottom: 5px;
               margin-bottom: 5px;
            }
        }
    }

    
}

@media (min-width: 768px) { 
    .Games {
        .GamesProfile {
            flex-direction: row;
            padding: 10px 0 5px 0;
        }

        .GamesDashboard  {
            flex-direction: row;
            gap: 40px;

            .GamesCards {
                padding-top: 0;

                h2 {
                    font-size: 25px;
                }
            } 
        }
    }
}
