.GamesSearch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
        position: relative;
        width: 100%;

        svg {
            position: absolute;
            right: 10px;
            color: #8caa37;
            font-size: 15px;
            top: calc(50% - 0.5em);  
        }

        input {
            padding: 10px 25px;
            line-height: 1.25;
            border: 1px solid #dbd8d8;
            border-radius: 3px;
            transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
            margin: 5px 0;
            width: 100%;
    
            &:focus {
                outline: 0;
                border-color: #8caa37;
            }
        } 
    }

      
}

@media (min-width: 768px) { 
    .GamesSearch {
        align-items: flex-start;
        justify-content: flex-end;

        label {
            width: 45%;
            input {
                width: 100%;
                margin: 0;
            }
        }      
    }
}