.GamesSearch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        padding: 10px 25px;
        line-height: 1.25;
        border: 1px solid #dbd8d8;
        border-radius: 3px;
        transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
        width: 100%;
        margin: 5px 0;

        &:focus {
            outline: 0;
            border-color: #8caa37;
        }
    }   
}

@media (min-width:801px) { 
    .GamesSearch {
        align-items: flex-start;
        justify-content: flex-end;

        input {
            width: unset;
            margin: 0;
        }
    }
}