.Message {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    position: relative;

    svg {

      &[data-icon='error'] {
        margin-left: -25px;
        color: #f01414;
        position: absolute;

     }
    }
  
  .Success {
    color: #7fffd4;
  }
  .Info {
    color: #201d1d;
  }
  .Error {
    color: #f01414;
  }

}