.Login {
   min-height: 200px;
   display: flex;
   align-items: center;
   gap: 20px;
   justify-content: center;
   margin-top: 10px;

    .LoginForm {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .LoginLabel {
            position: relative;
            width: 50%;
        }

        svg {
            position: absolute;
            left: 10px;
            color: #8caa37;
            font-size: 15px;
            top: calc(50% - 0.5em);
          
        }
    

        .LoginInput {
            padding: 10px 10px 10px 30px;
            width: 100%;
            line-height: 1.25;
            background-image: none;
            background-clip: padding-box;
            border: 1px solid #dbd8d8;
            border-radius: 3px;
            transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
            position: relative;

            &:focus {
                outline: 0;
                border-bottom-color: #8caa37;
            }
        }

    }
}