.GameCard {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dbd8d8;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);

    
    img {
        height: 190px;
        object-fit: cover;
        width: 190px;
     }


    .GameCardDetails {
        display: flex;
        flex-direction: column;
        gap: 5px;

        button {
            align-self: center;
            margin-top: 15px;
        }
    }
}

@media (min-width: 768px) { 
    .GameCard {
        align-items: flex-start;
        flex-direction: row;

        img {
            width: 320px;
        }

        .GameCardDetails {
    
            button {
                align-self: flex-end;
                margin-top: 0;
            }
        }
    }
}


