.GameCard {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    
    mg {
        height: 180px;
        object-fit: cover;
        width: 320px;
     }


    .GameCardDetails {
        display: flex;
        flex-direction: column;
        gap: 5px;

        button {
            align-self: flex-end;
            width: 30%;
        }
    }
}